.column {
  background: var(--COLOR-GRAY-DARK);
  min-height: 20rem;
  color: var(--WHITE);
  width: 33%;
  max-width: 20rem;
  margin: 0 0.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: dashed 4px transparent;
}

.column.drop {
  border: dashed 4px var(--WHITE);
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper button {
  all: unset;
  color: var(--BLACK);
  background: var(--WHITE);
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.titleWrapper button:hover {
  background: var(--COLOR-GRAY-LIGHT);
}

.modal {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modalContent {
  background: var(--WHITE);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 2rem;
  border-radius: 0.2rem;
}
