.column {
  background: var(--COLOR-GRAY-DARK);
  min-height: 20rem;
  color: var(--WHITE);
  width: 33%;
  max-width: 20rem;
  margin: 0 0.5rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleWrapper button {
  all: unset;
  color: var(--BLACK);
  background: var(--WHITE);
  height: fit-content;
  padding: 0.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.titleWrapper button:hover {
  background: var(--COLOR-GRAY-LIGHT);
}
